.containerCarrusel{
    perspective: 250px;
    width: 300px;
    height: 150px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;

}

.tarjeta{
    width: 40px;
    height: 80px;
    background-color: #442222;
    font-size: 40px;
    position: absolute;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    animation: Carrusel 8s linear infinite;
}
@keyframes Carrusel {
     from{
        transform: rotateY(360deg) translateZ(80px);
        z-index: 10;
        opacity: 0.9;
     } 
     25%{
        z-index: -5;
     }50%{
        z-index: -10;
     }75%{
        z-index: -15;
     }80%{
        z-index: 20;
     }
     to{
        transform: rotateY(0deg)translateZ(80px);
     }  
}
#squirtle{
    background-image: url(assets/imagenesCarrusel/squirtle.jpg);
    background-size: cover;
}
#squirtle:hover{
    box-shadow: 0px 0px 10px blue;
}

#bulbasaur{
    background-image: url(assets/imagenesCarrusel/bulbasaur.png);
    background-size: cover;
    animation-delay: -1s;
}
#bulbasaur:hover{
    box-shadow: 0px 0px 10px green;
}

#charmander{
    background-image: url(assets/imagenesCarrusel/charmander.jpg);
    background-size: cover;
    animation-delay: -2s;
}
#charmander:hover{
    box-shadow: 0px 0px 10px red;
}

#pikachu{
    background-image: url(assets/imagenesCarrusel/pikachu.webp);
    background-size: cover;
    animation-delay: -3s;
}
#pikachu:hover{
    box-shadow: 0px 0px 10px yellow;
}
#squirtle1{
    background-image: url(assets/imagenesCarrusel/squirtle.jpg);
    background-size: cover;
}
#squirtle1:hover{
    box-shadow: 0px 0px 10px blue;
}

#bulbasaur1{
    background-image: url(assets/imagenesCarrusel/bulbasaur.png);
    background-size: cover;
    animation-delay: -4s;
}
#bulbasaur1:hover{
    box-shadow: 0px 0px 10px green;
}

#charmander1{
    background-image: url(assets/imagenesCarrusel/charmander.jpg);
    background-size: cover;
    animation-delay: -5s;
}
#charmander1:hover{
    box-shadow: 0px 0px 10px red;
}

#pikachu1{
    background-image: url(assets/imagenesCarrusel/pikachu.webp);
    background-size: cover;
    animation-delay: -6s;
}
#pikachu1:hover{
    box-shadow: 0px 0px 10px yellow;
}
#bulbasaur2{
    background-image: url(assets/imagenesCarrusel/bulbasaur.png);
    background-size: cover;
    animation-delay: -7s;
}
#bulbasaur2:hover{
    box-shadow: 0px 0px 10px green;
}

.tarjeta h3{
    color: white;
    font-size: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
    background-color: #ff0000;
}